Title: 
Camera Requirements For Digital Camera Photography

Word Count:
336

Summary:
You are going to need a camera if you are taking the plunge into digital camera photography, and the key consideration in choosing a digital camera is speed. In digital camera photography, speed is an important issue because digital cameras need time to transfer the image to your storage media. The photography pros call this 'shutter lag.' With candid photography, a three-second shutter lag can mean the difference between capturing your child with the perfect grin, and taking...


Keywords:



Article Body:
You are going to need a camera if you are taking the plunge into digital camera photography, and the key consideration in choosing a digital camera is speed. In digital camera photography, speed is an important issue because digital cameras need time to transfer the image to your storage media. The photography pros call this 'shutter lag.' With candid photography, a three-second shutter lag can mean the difference between capturing your child with the perfect grin, and taking a blah, ordinary photo.

You also want startup speed in your digital camera, because they eat up a lot of batteries. If you are doing a type of photography where you are taking photos intermittently, you will want to be able to turn of your digital camera, and then have it start right up again when the perfect photography moment arises.

Another speed requirement in digital camera photography is for the autofocus. Once again, you do not want to aim your digital camera, but find your target has wandered off while you wait for your autofocus to resolve your photo.

Also a consideration in digital camera photography is TTL - through the lens composition. This digital camera photography term refers to the fact that some digital cameras require photographers to compose their photos on an image screen. A digital camera with TTL has a viewfinder, like a film camera, allowing the battery-sucking screen to be shut off most of the time.

If you are the least bit interested in using digital camera photography to produce quality photos as a hobby, you will want manual controls. Even if you do not know what those controls do, someday you will want to compose a photo without using the presets built into the digital camera.

Megapixels are also an important element of digital camera photography. Generally, the more megapixels your digital camera can take, the larger your end photographs can be without distortion. However, the more megapixels, the slower your camera responds, and even just three megapixels will produce large, quality photos.


