Title: 
Digital Photography Camera Requirements

Word Count:
311

Summary:
If you are taking the plunge into digital photography, you are going to need a camera. Speed is the key consideration in choosing a digital camera. Because digital cameras need time to transfer the image to your storage media, it is an important issue. This is referred to as 'shutter lag' by the photography pros. With candid photography, a three-second shutter lag can mean the difference between taking a blah, ordinary photo, or capturing your child with the perfect grin.

...


Keywords:



Article Body:
If you are taking the plunge into digital photography, you are going to need a camera. Speed is the key consideration in choosing a digital camera. Because digital cameras need time to transfer the image to your storage media, it is an important issue. This is referred to as 'shutter lag' by the photography pros. With candid photography, a three-second shutter lag can mean the difference between taking a blah, ordinary photo, or capturing your child with the perfect grin.

Because digital cameras eat up a lot of batteries, you'll also want startup speed. If you are taking photos intermittently, you'll want to be able to turn off your camera to preserve battery life. Then you'll need it to start right up again when the perfect photography moment arises.

Autofocus is another speed requirement in digital photography. You don't want to wait for your autofocus to resolve your photo after you aim your camera, only to find that your target has wandered off!

Through the lens (TTL) composition is another consideration. TTL refers to the fact that some digital cameras require photographers to compose their photos on an image screen. To allow for the battery-sucking screen to be shut off most of the time, a digital camera with TTL has a viewfinder like a film camera.

You will want manual controls if you are the least bit interested in using digital photography to produce quality photos as a hobby. Someday you may want to compose a photo without using the presets built into your digital camera even if you do not know what those controls do.

Another important element of digital photography is megapixels. Generally, the more megapixels your digital camera can take, the larger your end photographs can be without distorting them. However, the more megapixels, the slower your camera responds. Even just three megapixels will produce large, quality photos.


