Title: 
Traveling To Mexico? Be Sure To Understand The New Travel Requirements

Word Count:
649

Summary:
Making plans to travel to Mexico this year? Is a Mexico family vacation in your future, or are you looking to take a little time for rest and relaxation on the sandy white beaches of Cancun or Puerto Vallarta? Well, your timing is right. It promises to be another fantastic year south of the border for all of the major Mexico resort hot spots! In fact, 16 million Americans will probably visit Mexico this year.

Be sure you are prepared before you travel, as there have been s...


Keywords:
Mexico vacation,cancun hotel,cancun vacation,resort cancun,hotel mexico,mexico vacation package


Article Body:
Making plans to travel to Mexico this year? Is a Mexico family vacation in your future, or are you looking to take a little time for rest and relaxation on the sandy white beaches of Cancun or Puerto Vallarta? Well, your timing is right. It promises to be another fantastic year south of the border for all of the major Mexico resort hot spots! In fact, 16 million Americans will probably visit Mexico this year.

Be sure you are prepared before you travel, as there have been some new requirements issued by the U.S. State Department. Although it’s a minor change from prior travel requirements, it affects all U.S. citizens entering the United States from countries within the Western Hemisphere who do not currently possess valid passports. Essentially, all that is required is a passport, which most frequent travelers have anyway. The goal? To make it safer for you and to strengthen United States border security.

Here are some important facts you should know:

• The Intelligence Reform and Terrorism Prevention Act of 2004 requires that by January 1, 2008, travelers to and from the Caribbean, Bermuda, Panama, Mexico and Canada have a passport or other secure, accepted document to enter or re-enter the United States.

• In the proposed implementation plan, which is subject to a period of initial public comment, the Initiative will be rolled out in phases, providing as much advance notice as possible to the affected public to enable them to meet the terms of the new guidelines.

• The proposed timeline will be as follows:

o December 31, 2006 - Requirement applied to all air and sea travel to or from Canada, Mexico, Central and South America, the Caribbean, and Bermuda.

o December 31, 2007 - Requirement extended to all land border crossings as well as air and sea travel.

The Easy Way to get a Passport

First, when applying for a passport, make sure you allow enough time! It typically takes 6 weeks to process a passport application. Where can you apply for a passport? The State Department provides a handy search tool to help you find the Passport Acceptance Facility nearest you. What’s the busiest time for passport processing? Usually between January and July. Of course, if you have an emergency and need to travel to Mexico right away, the State Dept does offer some options. Go to their website at http://www.travel.state.gov/passport/passport_1738.html, or call the U.S. National Passport Information Center: 1-877-4USA-PPT

Additional Tips for Travel to Mexico

• Be sure to leave your travel itinerary and passport information with a friend or relative in case the originals are lost. It can also be helpful to carry a copy of your travel documents with you in a separate location from the originals.

• Avoid traveling with large amounts of cash. Credit cards are widely accepted and most areas visited by tourist will have an ATM machine. These are great options because they are safe, convenient and you get a favorable exchange rate. Another option is to use traveler’s checks.

• Using a fanny pack or travelers wallet for your cash and passport is a great idea.

• While they are making great strides in improving the water quality throughout Mexico, it is advisable to drink bottled water. In addition, avoid drinking beverages over ice as the ice may have been made from tap water.

• Wash vegetables and fruits in a purifying solution of some type.

• Before leaving, check with your health insurance provider so that you are aware of your coverage.

• If you are planning to drive over the border be sure to obtain a temporary import permit and all the necessary insurance.

So now that you’ve been informed, what are you waiting for? Mexico is a land of incredible beauty and natural wonder! Whether you’re going to sunny Cancun, festive Acapulco, or even Puerto Vallarta, your perfect Mexican vacation getaway is just a flight away!


